# Environnement
.env
.env.local

# Node
node_modules/
npm-debug.log*

# Angular
.angular/
dist/
out-tsc/
.cache/
coverage/

# IDE
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Dossier MySQL local
mysql_data/

