*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family:Oxygen mono, mono;
}

header {
position: fixed;
width: 100%;
z-index: 100;
background: #1F3A93;
height: 60px;
}

.navigation {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in;
  
}

.navigation li {
  margin: 0 1rem;
  height: 100%;
  text-align: center;
  line-height: 4rem;
}

.navigation a {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: medium;
  
}

.navigation a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  border-radius: 5px;
  background: #FFF59D;
  margin: -15px auto 0 auto;
  transition: width 0.2s ease-in;
}

.navigation a:hover {
  color: #FFF59D;
}

.navigation a:hover::after {
  width: 100%;
}

.burger {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}

.lignes {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #93b4ff;
  position: absolute;
  transition:  opacity .2s ease-in,
              
              top .2s ease-in,
              transform .2s ease-in ;
}

.lignes:nth-child(1){
  top: 0px;
}
.lignes:nth-child(2){
  top: 10px;
}
.lignes:nth-child(3){
  top: 20px;
}

.burger.active .lignes:nth-child(1){
  top: 12px;
  background: #FFF59D;
  transform: rotate(135deg);
}
.burger.active .lignes:nth-child(2){
  opacity: 0;
  transform: translateX(200px);
}
.burger.active .lignes:nth-child(3){
  top: 12px;
  background: #FFF59D;
  transform: rotate(-135deg);
}


@media screen  and (max-width: 780px) {
  .burger {
    display: block;
    margin-right: 5rem; 
  }
  .navigation a::after {
    display: none;
  }
  .navigation {
    top: -250px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .navigation li {
    width: 100%;
    height: 50px;
    background: #1F3A93;
  }
  .navigation.active {
    top: 50px;
  }
}