<div class="container mt-5">
  <h2>👩‍💼 Espace Employé</h2>
  <p class="text-muted">Bienvenue sur l'interface de gestion.</p>

  <div class="list-group">
    <a routerLink="/admin/films" class="list-group-item list-group-item-action">🎬 Gérer les films</a>
    <a routerLink="/admin/seances" class="list-group-item list-group-item-action">🗓️ Gérer les séances</a>
    <a routerLink="/admin/salles" class="list-group-item list-group-item-action">🏟️ Gérer les salles</a>
    <button (click)="afficherIncidents = !afficherIncidents" class="list-group-item list-group-item-action">
    🛠️ Déclarer un incident
    </button>
    <div *ngIf="afficherIncidents">
      <app-admin-incidents></app-admin-incidents>
    </div>
  </div>
 
