<div class="container mt-4">
  <h3>📊 Statistiques générales</h3>

  <div class="mt-4">
    <h5>🔧 Activité</h5>
    <ul class="list-group">
      <li class="list-group-item">Nombre de villes : {{ stats?.villes }}</li>      
      <li class="list-group-item">Nombre de salles : {{ stats?.salles }}</li>
      <li class="list-group-item">Nombre de séances : {{ stats?.seances }}</li>
      <li class="list-group-item">Nombre de réservations : {{ stats?.reservations }}</li>
      <li class="list-group-item">Nombre de comptes créés : {{ stats?.comptes }}</li>
    </ul>
  </div>

  <div class="mt-4">
    <h5>👤 Personnel</h5>
    <ul class="list-group">
      <li class="list-group-item">Employés : {{ stats?.employes }}</li>
      <li class="list-group-item">Administrateurs : {{ stats?.administrateurs }}</li>
    </ul>
  </div>
</div>
