<div class="container mt-5">
  <h2>Réinitialiser votre mot de passe</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
      <label>Nouveau mot de passe</label>
      <input type="password" class="form-control" formControlName="newPassword" />
      <div class="text-danger" *ngIf="f['newPassword'].invalid && f['newPassword'].touched">
        Le mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule, un chiffre et un caractère spécial.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Valider le nouveau mot de passe
    </button>
  </form>

  <div class="alert alert-success mt-3" *ngIf="message">
    {{ message }}
  </div>
</div>
