<div style="border: 2px solid #2A48D4; width: 60%; margin: 0 auto; background-color: #FFF8DC; padding: 1rem; border-radius: 10px;" class="mt-3">
<h2 class="text-center">Se connecter</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">
    <label>Email</label>
    <input type="email" class="form-control" formControlName="email" />
    <div class="text-danger" *ngIf="f['email'].invalid && f['email'].touched">
      Email invalide.
    </div>
  </div>

  <div class="mb-3">
    <label>Mot de passe</label>
    <input type="password" class="form-control" formControlName="password" />
    <div class="text-danger" *ngIf="f['password'].invalid && f['password'].touched">
      Mot de passe requis.
    </div>
    <!-- Lien vers la page de réinitialisation -->
    <div class="text-end mt-1">
      <a (click)="goToReset()" style="cursor: pointer; color: blue; text-decoration: underline;">Mot de passe oublié ?</a>

    </div>
  </div>


  <button type="submit" class="btn text-white" style="background-color: #2A48D4;">Se connecter</button>
</form>

<div *ngIf="message" class="mt-3 alert" [ngClass]="{'alert-success': message.includes('réussie'), 'alert-danger': message.includes('incorrect')}">
  {{ message }}
</div>
</div>