/* Initialisation */
body {
    margin:0; 
    padding: 0;
    box-sizing: border-box; /* Inclure les bordures et les rembourrages dans la largeur/hauteur */
  }

/*    Bandeau entier  */
footer {    
    display: flex; /* Utilisation de flexbox pour organiser les éléments horizontalement */    
    align-items: center; /* Centre les éléments sur l'axe secondaire */    
    padding: 8px; /* Ajoute un peu de marge intérieure  */
    width: 100%;   
}

.footer_coord,
.footer_logo,
.footer_admin,
.footer_link {
    flex: 1; /* Les parties occupent un espace équitable */
    text-align: center;     
    font-family: "Lato", sans-serif;     
}

/*  ligne : "Cliquez pour consulter"   */
.footer_link h4 {
    font-size: clamp(8px, 2vw, 18px); 
    font-family: "Lato", sans-serif;        
}

/*  Taille des logos   */
#logo_footer {
    width: 25vw; /* Utilisation de vw pour définir la largeur du logo */
    max-width: 250px; /* Limite la largeur maximale du logo */
    height: auto;    
}

.icone_researchgate img {
    height: 1.1vw;
    width: auto;
}

.icone_linkedin img {
    width: 2vw;
    height: auto;
}