/* Initialisation */
body {
    margin:0; 
    padding: 0;
    box-sizing: border-box; /* Inclure les bordures et les rembourrages dans la largeur/hauteur */
  }

/*    Barre de Navigation     */

.header_nav {
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    padding: 5px;   
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Ajoute un fond blanc au header */
    z-index: 100;
}

/*   LOGO   */

.header_logo {
    flex-grow: 1; /* le logo s'étire et occupe tout l'espace disponible */
    padding-left: 15%; /* Utilisation des unités relatives pour le padding */
}
 
.header_logo img {
    width: 25vw; /* Utilisation de vw pour définir la largeur du logo */
    max-width: 250px; /* Limite la largeur maximale du logo */
    height: auto;    
}
  
/* MENU   */

.header_menu {
    flex-grow: 1; /* menu s'étire et occupe tout l'espace disponible */
    padding-right: 5%; /* Utilisez des unités relatives pour le padding */
    white-space: nowrap; /* Empêche les éléments de sauter à la ligne */
}

#menu { 
    color: black;
    padding: 2%;   
    font-size: clamp(10px, 2vw, 20px);    
    text-decoration: none;
    font-family: "Lato", sans-serif;   
}