<div class="container mt-5">
  <h2 class="text-center mb-4">🎟️ Mes réservations</h2>

  <div *ngIf="reservations.length === 0" class="alert alert-warning text-center">
    Aucune réservation trouvée.
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let reservation of reservations">
      <div class="card h-100" style="background-color:#FFF8DC !important; box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.1); border: 2px solid #2A48D4">
        <img
          [src]="reservation.film.imageUrl || 'assets/affiches/default.png'"
          [alt]="reservation.film.titre"
          class="card-img-top mt-2 px-2"
          style="object-fit: contain; height: 300px;"
        />

        <div class="card-body text-center">
          <h5 class="card-title">{{ reservation.film.titre }}</h5>
          <p class="card-text">
            📅 {{ reservation.seance.jour }} — {{ reservation.seance.debut }} ({{ reservation.seance.qualite }})<br />
            🎥 Cinéma : {{ reservation.seance.cinema }}<br />
            🎫 Places : {{ reservation.nbPlaces }}<br />
            💰 Total : {{ reservation.nbPlaces * reservation.seance.prix }} €<br />
            🏛️ Salle : {{reservation.seance.nomSalle }}
          </p>
        </div>

        <div class="card-footer text-center" style="background-color: #2A48D4;">
          <button style="background-color: #FFF8DC; color: black;"
            (click)="supprimerReservation(reservation._id)"
            class="btn btn-custom">
            ❌ Annuler
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
